.gsc-search-box{
   &.style-1{
      > .content-inner{
         display: inline-block;
         .control-search{
            position: relative;
            line-height: 1;
            text-align: center;
            border-radius: 50%;
            transition: all 0.35s;
            color: $body-color;
            background: $bg-gray;
         }
      }
   }
}
